# ==============================================
# CONFIGURAÇÕES DO SERVIDOR
# ==============================================
PORT=XXXXX
HOST=XXXXX

# ==============================================
# BANCO DE DADOS (POSTGRESQL)
# Exemplo local: postgresql://USUARIO:SENHA@localhost:5432/ensino_db?schema=public
# Exemplo Docker: postgresql://postgres:postgres@localhost:5432/ensino_db?schema=public
# Exemplo Supabase/Neon: postgresql://postgres.xxx:senha@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true
# ==============================================
DATABASE_URL=XXXXXXXXXXXXXXX

# ==============================================
# AUTENTICAÇÃO (BETTER AUTH)
# ==============================================
BETTER_AUTH_SECRET=XXXXXXXXXXXXXXXXXXX
BETTER_AUTH_URL=XXXXXXXXXXXXXXX

# ==============================================
# FRONTEND / CORS
# ==============================================
FRONTEND_URL=XXXXXXXXXXXXXXXX
